/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

/*To remove default styles*/
* {
    margin: 0;
    padding: 0;
}

/*General Styling*/
body {
    background-color: #f2e5d9;
    font-family: "Lora", serif;
}

/*Header and navbar styling*/
.navbar {
    display: flex;
    align-items: center;
}

header {
    background-color: #304326;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Logo styling*/
.logo-link {
    font-size: 4rem;
    padding-left: 20px;
    letter-spacing: 3px;
    color: #fbfdd4;
    font-family: "Alice", serif;
    text-decoration: none;
}

/*Navbar links*/
.home-link,
.drinks-link,
.whats-on-link {
    padding: 20px;
    color: #fbfdd4;
    text-decoration: none;
    font-size: 1.4rem;
}

.home-link:hover,
.drinks-link:hover,
.whats-on-link:hover,
.logo-link:hover {
    color: #D49987;
}

/*Homepage Hero Image*/
/*Code for hero image styling credit to love running project, code institute*/

.hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/home-page-hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

/*Main content styling*/

.first-section-hp,
.second-section-hp,
.third-section-hp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    color: #333333;

}

.content-left,
.content-right {
    width: 100%;
    font-size: 2rem;
    margin-top: 100px;
    text-align: left;
    line-height: 35px;
}

.section-heading {
    color: #304326;
    font-size: 2.5rem;
    font-family: "Alice", serif;
}

.section-image {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
}

.large-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.second-section-hp {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

.content-right {
    text-align: right;
}

/*Drinks Menu Styling*/
/*Styling to position the text and image*/
.spring-menu,
.autumn-menu {
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 20px #304326;
    color: #333333;
}
/*To swap the placement of the image and text*/
.summer-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    border-bottom: solid 20px #304326;
    color: #333333;
}

.heading-section {
    font-size: 1.5rem;
    font-family: "Alice", serif;
    text-align: center;
    padding: 20px;
}


.menu-items {
    font-size: 1rem;
    width: 50%;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.section-image-menu {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    margin-right: 150px;
}

/*Footer Styling*/

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url(../images/victoria-alexander-0W3KDIBCu4g-unsplash.jpg);
}

.opening-times,
.contact-us,
.location {
    text-align: center;
    color: #fbfdd4;
    font-size: 15px;
    padding: 13px;
    background-color: rgb(51, 51, 51, 0.6);
}

.list {
    list-style-type: none;
    padding: 13px;
}

.footer-heading {
    font-family: "Alice", serif;
    font-size: 1rem;
    color: #fbfdd4;
    letter-spacing: 2px;
    padding-bottom: 5px;
    padding-top: 10px;
}




/*Social Media Icons*/
.social-icons {
    color: #fbfdd4;
    font-size: 25px;
    padding: 40px;
}

.social-icons:hover {
    color: #D49987;
}





/*Media Queries for 768px and up*/
/*Media Query for homepage*/
@media screen and (max-width: 768px) {
    .hero-image {
        height: 300px;
    }

    .content-left,
    .content-right {
        width: 100%;
        font-size: 1rem;
        margin: 20px;
        /*To align all content to the left*/
        text-align: left;
    }

    .section-image {
        /*To make the section image smaller to fit the screen size*/
        width: 300px;
        height: 300px;
    }

    .first-section-hp,
    .second-section-hp,
    .third-section-hp {
        display: flex;
        flex-direction: column;
    }

    .section-heading {
        text-align: center;
        margin-top: 25px;
    }

    .large-image {
        /*To make the large images smaller to fit the screen*/
        height: 400px
    }


    /*Footer Styling*/
    .opening-times,
    .contact-us,
    .location {
        font-size: 0.7rem;
    }
}

/*Media Queries for 1024px and up*/
/*Media Queries for home page*/
@media screen and (min-width: 1024px) {
    .hero-image {
        height: 500px;
    }

    .section-image {
        /*To make the section images fit the page better*/
        width: 500px;
        height: 500px;
    }

    .content-left,
    .content-right {
        width: 100%;
        font-size: 1rem;
        /*To push section heading down*/
        margin-top: 40px;

    }
}

/*Media Queries for 1440px and up*/
/*Media Query for homepage*/
@media screen and (min-width: 1440px) {

    .content-left,
    .content-right {
        font-size: 1.5rem;
    }
}

/*Media Queries for 600px and up */
/*Media Queries for homepage*/
@media screen and (max-width: 600px) {

    /*Header and Navigation bar styling*/
    h1 {
        font-size: 3rem;
        margin-top: 4px;
        display: flex;
        justify-content: center;
    }

    /*To put navigation links under the heading*/
    header {
        display: flex;
        flex-direction: column;
        height: 120px;
    }

    .home-link,
    .drinks-link,
    .whats-on-link {
        font-size: 0.9rem;
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
    }

    /*Content sections*/
    .content-left,
    .content-right {

        font-size: 0.8rem;
        text-align: center;
        /*Margin set to 0 to center the text content*/
        margin-left: 0;
    }

    .section-image {
        width: 200px;
        height: 200px;
    }

    .section-heading {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .large-image {
        height: 200px
    }

    /*Footer Styling*/
    .footer {
        display: flex;
        flex-direction: column;
    }

    .social-icons {
        font-size: 17px;
    }
}