/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*To remove default styles*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

/*General Styling*/
body {
    background-color: #f2e5d9;
    font-family: "Lora", serif;
    font-size: 1.6rem;
}

.font-style {
    font-family: "Alice", serif;
}

/*Text align styles*/
.align-start {
    text-align: left;
}

.align-end {
    text-align: right;
}

.align-center {
    text-align: center;
}

/*Header and navbar styling*/
#navbar {
    display: flex;
    align-items: center;
}

.equinox-logo {
    background-color: #304326;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Logo styling*/
.nav-title {
    font-size: 6rem;
    padding-left: 20px;
    letter-spacing: 3px;
    color: #fbfdd4;
}

/*Navbar links*/
.nav-link {
    padding: 20px;
    color: #fbfdd4;
    text-decoration: none;
    font-size: 2rem;
}

.nav-link:hover {
    color: #D49987;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
}

/*Homepage Hero Image*/
/*Code for hero image styling credit to love running project, code institute*/

.hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/home-page-hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

/*Main content homepage styling*/

.home-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    color: #333333;
    font-size: 1.8rem;
}

.content {
    width: 100%;
    line-height: 35px;
}

.section-image {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    padding: 20px;
}

.large-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

/*Drinks Menu Styling*/

/*Styling to position the text and image*/
.menu-content {
    display: flex;
}

.menu-border {
    border-bottom: solid 20px #304326;
    color: #333333;
}

.extra-border {
    border-top: solid 20px #304326;
}

.heading-section {
    font-size: 2.5rem;
    padding-top: 10px;
    color: #304326;
    font-weight: bold;
}

.subheading-menu {
    text-decoration: underline;
    color: #333333;
}

.menu-items {
    font-size: 1rem;
    width: 50%;
    padding: 10px;
    font-size: 1.6rem;
    margin: auto;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

/*What's on page styling*/
.introduction {
    width: 60%;
    margin: auto;
    font-size: 1.8rem;
}

.card-body {
    background-color: #304326;
    color: #fbfdd4;
    padding: 20px;
}

/*Padding styled as gutters removed from cards*/
.col {
    padding: 15px;
}

/*Sign Up form styling*/
.whatson-signup #signup-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.5rem;
    width: 60%;
    background-color: #304326;
    padding: 20px;
    color: #fbfdd4;
    margin-bottom: 15px;
}

/*Button Styling*/
#submit {
    width: 100px;
    margin-top: 10px;
    color: #333333;
}

#submit:hover {
    background-color: #D49987;
}

/*Footer Styling*/

.footer-equinox {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url(../images/victoria-alexander-0W3KDIBCu4g-unsplash.jpg) no-repeat center center/cover;
}

.footer-details {
    text-align: center;
    color: #fbfdd4;
    font-size: 1.3rem;
    padding: 13px;
    background-color: rgb(51, 51, 51, 0.6);
}

/*Styling for opening times list*/
.list {
    list-style-type: none;
    padding: 13px;
}

.footer-heading {
    font-size: 1.5rem;
    color: #fbfdd4;
    letter-spacing: 2px;
    padding-bottom: 5px;
    padding-top: 10px;
}

/*Social Media Icons*/
.social-icons {
    color: #fbfdd4;
    font-size: 2.3rem;
    padding: 40px;
}

.social-icons:hover {
    color: #D49987;
}

.btn {
    background-color: #304326;
    color: #fbfdd4;
    border-radius: 0;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #D49987;
}

/*Media Queries for 768px and up*/
@media screen and (max-width: 768px) {
    .hero-image {
        height: 300px;
    }

    .content {
        text-align: left;
        width: 90%;
        margin: auto;
    }

    /*To make the section image smaller to fit the screen size*/
    .section-image {
        width: 300px;
        height: 300px;
    }

    .heading-section {
        text-align: center;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    /*To make the large images smaller to fit the screen*/
    .large-image {
        height: 400px
    }

    /*To center content*/
    .menu-items {
        margin: auto;
        padding-top: 20px;
    }

}

/*Media Queries for 1024px and up*/
@media screen and (min-width: 1024px) {
    .hero-image {
        height: 500px;
    }

    /*To make the section images fit the page better*/
    .section-image {
        width: 500px;
        height: 500px;
    }
}

/*Media Queries for 600px and up */
@media screen and (max-width: 600px) {

    /*Header and Navigation bar styling*/
    .nav-title {
        font-size: 5rem;
        margin-top: 4px;
        display: flex;
        justify-content: center;
    }

    /*To put navigation links under the heading*/
    .equinox-logo {
        display: flex;
        flex-direction: column;
        height: 110px;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    #navbar {
        display: flex;
        justify-content: space-evenly;
    }

    /*Content sections*/
    .mobile-content {
        font-size: 1.3rem;
        text-align: center;
        margin: auto;
    }

    .heading-section {
        font-size: 1.7rem;
        padding-top: 15px;
        text-align: center;
    }

    /*Images adjusted for mobile */
    .mobile-img {
        width: 200px;
        height: 200px;
        margin: auto;
    }

    .large-image {
        height: 200px
    }

    .mobile-width,
    .mobile-width #signup-form {
        width: 95%;
        margin: auto;
        padding-bottom: 10px;
    }

    .social-icons {
        padding: 10px;
    }
}